@media only screen and (max-width:1440px) and (min-width:1025px){
    .logo-img{
        padding:5px 0px 5px 10px!important;
        width: 60%!important;
    }
    .header{
        padding: 0!important;
        margin: 0!important;
        max-width: 100%!important;
        height: 90px!important;
      }
      .login-button{
        border-radius: 50px!important;
        margin: 5px!important;
        width: 20%!important;
        height: 45px!important; 
        font-size: 20px!important;
      }
    
      .signup-button{
        border-radius:50px!important; 
        border: 0!important; 
        margin: 5px!important; 
        background: #35b729!important;
        width: 20%!important;
        height: 45px!important; 
        font-size: 20px!important;
      } 
      .active:hover{
        opacity: 0.5 !important;
        color: black!important;
    }
}