.logo-img {
  width: 200px;
  display: none;
}

.navbar-list {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #23CF48;
}

.header-section-right {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #23CF48;
}

.header-section-right>a:not(.hamburger) {
  width: 100%;
  display: none;
}

.header-section-right.active>a {
  width: 100%;
  display: block;
}

.header-section-right>a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  white-space: nowrap;
  padding: 15px;
}

.header-section-right>a:hover:not(#register-logo) {
  background: #21C473;
}

.hamburger {
  display: block;
  background: #23CF48;
  width: 100%;
  left: 0;
  padding: 15px;
}

@media only screen and (min-width: 700px) {
  .header-section-right {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #23CF48;
  }
  .header-section-right>a:not(.hamburger) {
    display: block;
  }
  .header-section-right.active>.hamburger {
    display: none;
  }
  .logo-img {
    margin: 8px 0 0 0;
    width: 8.5em;
    display: block;
    cursor: pointer;
  }
  .hamburger {
    display: none;
  }
  .navbar-list {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
  .header-section-right>a {
    text-decoration: none !important;
    text-align: center;
    height: 100%;
    width: auto;
    color: #fff !important;
    white-space: nowrap;
  }
  .header-section-right>a:hover:not(#register-logo) {
    height: 100%;
    background: #21C473;
  }
}

@media only screen and (min-width: 900px) {
  .header-section-right {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #23CF48;
  }
  .header-section-right>a:not(.hamburger) {
    display: block;
  }
  .logo-img {
    margin: 8px 0 0 0;
    width: 8.5em;
    display: block;
    cursor: pointer;
  }
  .hamburger {
    display: none;
  }
  .navbar-list {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
  .header-section-right>a {
    text-decoration: none !important;
    text-align: center;
    width: 1.8em;
    color: #fff !important;
    height: 100%;
    white-space: nowrap;
  }
  .header-section-right>a:hover:not(#register-logo) {
    height: 100%;
    background: #21C473;
  }
}