
nav{
  background: #35b729;
  height: 80px;
  width: 100%;
}

label.logo{
  color:white;
  font-size: 35px;
  list-style: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right:20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: -5px 0px 0px 0px;
  padding-right: 25px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #35b729;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    padding-left: 50px;
    font-size: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 98.6%;
    height: 100vh;
    background: #35b729;
    top: 104px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color: black;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}